<div class="client-profile-container">
    
    <div class="client-profile-bar">
        <div class="client-profile-bar-slogan">
            <img src="../../../../assets/images/Slogan.png" alt="">
        </div>
        
        <div class="client-profile-bar-exit">
            <a href="#!"><img class="icon" src="../../../../assets/icons/Icono_24X.svg" alt=""></a>
        </div>
    </div>

    <div class="client-profile-header">
        <a href="#!"><img src="../../../../assets/icons/IconoB_32Menú Hamburguesa.svg" alt="" class="icon"></a>
        <a href="#!"><img src="../../../../assets/icons/Grupo 15202.svg" alt="" class="icon"></a>
    </div>

    <div class="client-profile-products">

        <div class="client-profile-products-tabs">

            <div class="client-profile-products-tabs-izq">
                <div class="client-profile-products-tabs-izq-contain">
                    <a href=""><img src="../../../../assets/icons/Icono_24Abrir Productos.svg" alt="" class="icon"></a>
                </div>
                <p>Soluciones Mi negocio</p>
            </div>

            <div class="client-profile-products-tabs-der">
                <p>Topes</p>
                <div class="client-profile-products-tabs-der-contain">
                    <a href=""><img src="../../../../assets/icons/Grupo 17985.svg" alt="" class="icon"></a>
                </div>
            </div>
        </div>

        <div class="client-profile-products-transfers">
            <div class="client-profile-products-transfers-available">
                <p>Mi DaviPlata</p>
                <h2>${{data.totalLimit}}</h2>
                <small>Disponible</small>
            </div>

            <div class="client-profile-products-transfers-semi-circle">
                <div class="client-profile-products-transfers-semi-circle-spend">
                    <div class="row">
                        <img src="../../../../assets/icons/Grupo 17914.svg" alt="" class="icon">
                        <p>Pasar Plata</p>
                    </div>
                </div>
                <div class="client-profile-products-transfers-semi-circle-take">
                    <div class="row">
                        <img src="../../../../assets/icons/Grupo 17913.svg" alt="" class="icon">
                        <p>Sacar Plata</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="client-profile-name">
        <h2>{{data.storeName}}</h2>
    </div>

    <div class="client-profile-payment">
        <p class="subtitle">Vender</p>
        <p>Elija una opción para recibir el pago de su venta.</p>
        
        <div class="client-profile-payment-options">
            <div class="client-profile-payment-options-method">
                <img src="../../../../assets/icons/Grupo 16605.svg" alt="" class="icon">
                <p>Código QR</p>
            </div>
            <div class="client-profile-payment-options-method">
                <img src="../../../../assets/icons/Grupo 17906.svg" alt="" class="icon">
                <p>Enlace de pago</p>
            </div>
        </div>
    </div>

    <div class="client-profile-benefits" routerLink="/benefits">
        <div class="client-profile-benefits-content">
            <img src="../../../../assets/icons/Grupo 19297.svg" alt="">
            <div class="client-profile-benefits-content-text">
                <h2>Más ingresos para su negocio</h2>
                <small>Conozca los beneficios.</small>
            </div>
        </div>
    </div>

    <div class="client-profile-catalogue">
        <div class="client-profile-catalogue-container">
            <div class="client-profile-catalogue-header">
                <h2>Catálogos</h2>
                <div class="client-profile-catalogue-header-add">
                    <img src="../../../../assets/icons/Grupo 19805.svg" alt="">
                    <p>Nuevo catálogo</p>
                </div>
            </div>
            <div class="client-profile-catalogue-carousel">
                <ng-container *ngFor="let data of currentSlides.array">
                    <div class="client-profile-catalogue-carousel-piece">
                        <img src={{data.image}} alt={{data.name}} >
                        <small>{{data.name}}</small>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="client-profile-catalogue-buttons">
            <ng-container *ngFor="let slide of slides">
                <button [value]="slide" (click)="carousel($event)"
                    [ngClass]="{'danger': currentSlides.current == slide}"
                ></button>
            </ng-container>
        </div>

    </div>
    
    <div class="client-profile-help">
        <a href=""><img src="../../../../assets/icons/Grupo 17268.svg" alt=""></a>
    </div>
</div>
