.benefits {
    position: relative;
    
    &-container {
        background-color: #EDEDED;
        height: 100vh;
        width: 100vw;
    }

    &-bar {
        @extend %bar;

        .icon {
            width: 25px;
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            margin: 0 15px;
        }

        >p {
            font-family: $font-secondary;
            font-size: 1.125em;
        }
    }

    &-body {
        height: calc(100% - 18px - 69px);
        width: calc(100% - 47px);
        margin: 18px 23px 69px 24px;
        position: relative;

        &-img {
            background-image: url(../../images/benefits.png);
            background-size: 100%;
            width: 100%;
            height: 250px;
            position: absolute;
        }

        &-content {
            width: 100%;
            max-width: calc(100% - 2rem);
            background-color: #fff;
            padding: 1.5rem 1rem;
            border-radius: 8px;
            box-shadow: inset 0 3px 6px 0 #8B8B8B1A;
            
            position: absolute;
            top: 128px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            
            // NO mas de 3 
            &-title {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 1px 0;
                margin-bottom: 15px;

                >h3 {
                    font-family: $font-primary;
                    font-weight: bold;
                    font-size: 1.125em;
                }
            }

            &-features {
                // background-color: bisque;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                
                &-feature {
                    // width: 100%;
                    padding: 0 0 0.625rem 0.5rem;
                    border-bottom: 1px solid #707070;

                    &-row {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
    
                        .icon {
                            height: 1.5rem;
                            width: 1.5rem;
                            margin-right: 0.5rem;
                        }
    
                        img {
                            width: 100%;
                        }

                        >p {
                            font-family: $font-primary;
                            font-size: 0.875em;

                        }
                    }
                }

            }

            &-terms {
                width: calc(100% - 2rem);
                margin: 1.25rem 1rem 2.44rem;
                
                &-accept {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    

                    p, a {
                        font-family: $font-primary;
                    }

                    >p {
                        margin-left: 0.5rem;
                        font-size: 0.875em;
                    }

                    a {
                        text-decoration: none;
                        font-weight: bold;
                    }
                }

                &-submit {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    position: relative;

                    button {
                        @extend %button;
                        background-color: $button-danger;

                        position: absolute;
                        top: calc(63px - 20px);
                    }
                }
            }

            

        }
        
    }

    &-help {
        position: absolute;
        right: 0px;
        top: calc(70.79px + 60px);
        
        img {
            height: 59.21px;
            width: 62.76px;
        }
    }
    
}