.sign-up-form {
    background-color: #fff;
    // Corregir width
    width: calc(343px - 32px);
    padding: 1rem 1rem;
    border-radius: 8px;
    box-shadow: inset 0 3px 6px 0 #8B8B8B1A;

    display: flex;
    flex-direction: column;

    >h4 {
        margin-bottom: 1.5rem;
        font-size: 1.125em;
        font-family: $font-primary;
        font-weight: bold;
        padding: 1px 0;
    }

    &-input {
        // border: 1px solid rgb(214, 214, 214);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 1rem;

        label {
            font-size: 1em;
            font-family: $font-primary;
            font-weight: bold;
            padding: 1px 0;
        }

        input, select {
            width: 100%;
            border: none;
            outline: none;
            font-size: 1em;
            font-family: $font-primary;
            padding-bottom: 1px;
            margin: 3px 0;
            border-bottom: 1px solid $border-primary;
        }

        

        &-row {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            p {
                margin: 0;
                font-family: $font-primary;
            }

            >select {
                margin-right: 0.6rem;
            }

            input {
                width: 50px;
            }
        }
    }

    &-submit {
        width: 100%;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: relative;

        button {
            @extend %button;
            
            position: absolute;
            top: 16px;
        }
    }
}

