<div class="benefits-container">
    
    <!-- Shared reutilizar -->
    <div class="benefits-bar">
        <a href="#!"><img class="icon" src="../../../../assets/icons/IconoR_16Abajo.svg" alt=""></a>
        <p>Más ingresos para su negocio</p>
        <a href="#!"><img class="icon" src="../../../../assets/icons/Icono_24X.svg" alt=""></a>
    </div>
    
    <div class="benefits-body">

        <div class="benefits-body-img"></div>

        <div class="benefits-body-content">
            
            <div class="benefits-body-content-title">
                <h3>Beneficios y características</h3>
            </div>

            <div class="benefits-body-content-features">
                <div class="benefits-body-content-features-feature">
                    <div class="benefits-body-content-features-feature-row">
                        <img class="icon" src="../../../assets/icons/Grupo 18033.svg" alt="Tienda virtual" >
                        <p>Genere ingresos realizando compras en la tienda virtual y reciba entre el 2% y el 4% en devolución de la compra.</p>
                    </div>
                </div>

                <div class="benefits-body-content-features-feature">
                    <div class="benefits-body-content-features-feature-row">
                        <img class="icon" src="../../../assets/icons/Grupo 19801.svg" alt="Aprenda mas" >
                        <p>Aprenda cómo posicionar su negocio en nuestra escuela.</p>
                    </div>
                </div>

                <div class="benefits-body-content-features-feature">
                    <div class="benefits-body-content-features-feature-row">
                        <img class="icon" src="../../../assets/icons/IconoR_24Movimientos.svg" alt="Movimientos" >
                        <p>Acceda a informes detallados de su botón de pagos.</p>
                    </div>
                </div>

                <div class="benefits-body-content-features-feature">
                    <div class="benefits-body-content-features-feature-row">
                        <img class="icon" src="../../../assets/icons/IconoR_16Cuanto debo.svg" alt="Cuanto debo" >
                        <p>Obtenga estos beneficios de manera gratis y sin algún costo.</p>
                    </div>
                </div>
            </div>

            <div class="benefits-body-content-terms">
                <form>
                    <div class="benefits-body-content-terms-accept">
                        <input type="checkbox" id="terms" name="terms" value="accept">  
                        <p>Autorizo el descuento por suscripción aceptando los <a href="">Términos y Condiciones.</a></p>
                    </div>  
                    
                    <div class="benefits-body-content-terms-submit">
                        <button type="submit" >Crear</button>
                    </div>
                </form>

                
            </div>
        </div>


    </div>

</div>
