<div class="sign-up-form">
    <h4>Ingrese los siguientes datos</h4>
    
    <form action="">

        <!--------------------------- Field Name --------------------------->

        <div class="sign-up-form-input">
            <label for="">Escriba su nombre completo</label>
            <input type="text" placeholder="Ingrese el nombre">
        </div>

        <!--------------------------- Field Document type --------------------------->

        <div class="sign-up-form-input">
            <label for="">Seleccione tipo de documento</label>
            <select name="" id="">
                <option value="" disabled selected>Seleccione</option>
                <option value="">Cédula de ciudadanía</option>
                <option value="">Tarjeta de identidad</option>
                <option value="">Cédula de extranjería</option>
            </select>
        </div>

        <!--------------------------- Field Document number --------------------------->
        
        <div class="sign-up-form-input">
            <label for="">Escriba número de documento</label>
            <input type="number" placeholder="Ingrese el número">
        </div>
        
        <!--------------------------- Field City --------------------------->

        <div class="sign-up-form-input">
            <label for="">Escriba ciudad o municipio</label>
            <input list="cities" placeholder="Ingrese el nombre">
            <datalist id="cities">
                <option class="disabled" value="" disabled selected >Seleccione</option>
                <!-- Apoyarse en un arr -->
                <option value="Bogotá">
                <option value="Bolivar">
                <option value="Boyacá">
            </datalist>
        </div>

        <!--------------------------- Field Direction --------------------------->

        <div class="sign-up-form-input">
            <label for="">¿Cuál es su dirección?</label>
            <div class="sign-up-form-input-row">
                
                <select name="" id="">
                    <option value="" disabled selected>Seleccione</option>
                    <option value="">Autopista</option>
                    <option value="">Avenida</option>
                    <option value="">Avenida calle</option>
                    <option value="">Av. carreratera</option>
                    <option value="">Calle</option>
                </select>
                
                <input type="text">
                
                <p>#</p>
                
                <input type="text">
                
                <p>-</p>
                
                <input type="text">

            </div>
        </div>

        <!--------------------------- Field Neighborhood --------------------------->

        <div class="sign-up-form-input">
            <label for="">Local / Tienda / Barrio / Otro</label>
            <input type="number" placeholder="Opcional">
        </div>

        <!--------------------------- Field Phone --------------------------->

        <div class="sign-up-form-input">
            <label for="">Número de celular</label>
            <input type="number" placeholder="Escriba el número">
        </div>

        <div class="sign-up-form-submit">
            <button type="submit" >Crear</button>
        </div>

    </form>
    
</div>
