<div class="sign-up-form">
    <h4>Ingrese los siguientes datos</h4>
    
    <form [formGroup]="signUpForm" (ngSubmit)="authenticate()" >

        <!--------------------------- Field Name --------------------------->

        <div class="sign-up-form-input">
            <label for="">Escriba su nombre completo</label>
            <input type="text" placeholder="Ingrese el nombre" formControlName="name"
                [ngClass]="{'danger': form['name'].errors && signUpSubmmitted}"
            >
            <small class="error"
                *ngIf="form['name'].errors && signUpSubmmitted"
            >
                <ng-container [ngSwitch]="form['name'].value">
                    <ng-container *ngSwitchCase="''">El campo es requerido!</ng-container>
                    <ng-container *ngSwitchDefault>Máximo diez caracteres!</ng-container>
                </ng-container>
                <ng-container >
                    <img src="../../../../../assets/icons//Grupo 18568.svg" alt="Error en el campo" >
                </ng-container>
            </small>
        </div>

        <!--------------------------- Field Document type --------------------------->

        <div class="sign-up-form-input">
            <label for="">Seleccione tipo de documento</label>
            <select name="" id="" formControlName="documentType"
                [ngClass]="{'danger': form['documentType'].errors && signUpSubmmitted}"
            >
                <option class="disabled" value="" disabled selected>Seleccione</option>
                <option value="CC">Cédula de ciudadanía</option>
                <option value="TI">Tarjeta de identidad</option>
                <option value="CE">Cédula de extranjería</option>
            </select>
            <small class="error"
                *ngIf="form['documentType'].errors && signUpSubmmitted"
            >
                <ng-container  *ngIf="!form['documentType'].value">
                    <ng-container>Debe elegir un tipo de documento</ng-container>
                </ng-container>
                <!-- <ng-container >
                    <img src="../../../../../assets/icons//Grupo 18568.svg" alt="Error en el campo" >
                </ng-container> -->
            </small>
        </div>

        <!--------------------------- Field Document number --------------------------->
        
        <div class="sign-up-form-input">
            <label for="">Escriba número de documento</label>
            <input type="number" placeholder="Ingrese el número" formControlName="documentNumber"
                [ngClass]="{'danger': form['documentNumber'].errors && signUpSubmmitted}"
            >
            <small class="error"
                *ngIf="form['documentNumber'].errors && signUpSubmmitted"
            >
                <ng-container [ngSwitch]="form['documentNumber'].value">
                    <ng-container *ngSwitchCase="''">El campo es requerido!</ng-container>
                    <ng-container *ngSwitchDefault>Máximo doce caracteres!</ng-container>
                </ng-container>
                <ng-container >
                    <img src="../../../../../assets/icons//Grupo 18568.svg" alt="Error en el campo" >
                </ng-container>
            </small>
        </div>
        
        <!--------------------------- Field City --------------------------->

        <div class="sign-up-form-input">
            <label for="">Escriba ciudad o municipio</label>
            <input list="cities" placeholder="Ingrese el nombre" formControlName="city"
                [ngClass]="{'danger': form['city'].errors && signUpSubmmitted}"
            >
            <datalist id="cities">
                <option class="disabled" value="" disabled selected >Seleccione</option>
                <option value="Bogotá">
                <option value="Bolivar">
                <option value="Boyacá">
            </datalist>
            <small class="error"
                *ngIf="form['city'].errors && signUpSubmmitted"
            >
                <ng-container  *ngIf="!form['city'].value">
                    <ng-container>El campo es requerido!</ng-container>
                </ng-container>
                <ng-container >
                    <img src="../../../../../assets/icons//Grupo 18568.svg" alt="Error en el campo" >
                </ng-container>
            </small>
        </div>

        <!--------------------------- Field Direction --------------------------->

        <div class="sign-up-form-input">
            
            <label for="">¿Cuál es su dirección?</label>
            <div class="sign-up-form-input-row" formGroupName="direction">
                
                <!--------------------------- Field Road Type --------------------------->

                <select name="roadType" id="roadType" formControlName="roadType"
                    [ngClass]="{'danger': formDirection['roadType'].errors && signUpSubmmitted}"
                >
                    <option value="" disabled selected>Seleccione</option>
                    <option value="autopista">Autopista</option>
                    <option value="avenida">Avenida</option>
                    <option value="avenidaCalle">Avenida calle</option>
                    <option value="avenidaCarretera">Av. carreratera</option>
                    <option value="calle">Calle</option>
                </select>
                
                <!--------------------------- Field Road Type --------------------------->
                <input type="text" formControlName="primaryRoadNumber"
                    [ngClass]="{'danger': formDirection['primaryRoadNumber'].errors && signUpSubmmitted}"
                ><p>#</p>
                
                <!--------------------------- Field Road Type --------------------------->
                
                <input type="text" formControlName="secondaryRoadNumber"
                    [ngClass]="{'danger': formDirection['secondaryRoadNumber'].errors && signUpSubmmitted}"
                ><p>-</p>
                
                <!--------------------------- Field Road Type --------------------------->
                
                <input type="text" formControlName="specificNumber"
                    [ngClass]="{'danger': formDirection['specificNumber'].errors && signUpSubmmitted}"
                >
            </div>

            <!-- Subfield Validation -->
            <small class="error"
                *ngIf="
                    (
                        formDirection['roadType'].errors || 
                        formDirection['primaryRoadNumber'].errors ||
                        formDirection['secondaryRoadNumber'].errors ||
                        formDirection['specificNumber'].errors
                    )
                    && signUpSubmmitted
                    "
                    >
                <ng-container  *ngIf="!form['city'].value">
                    <ng-container>El campo es requerido!</ng-container>
                </ng-container>
                <ng-container >
                    <img src="../../../../../assets/icons//Grupo 18568.svg" alt="Error en el campo" >
                </ng-container>
            </small>
        </div>

        <!--------------------------- Field Neighborhood --------------------------->

        <div class="sign-up-form-input">
            <label for="">Local / Tienda / Barrio / Otro</label>
            <input type="number" placeholder="Opcional">
        </div>

        <!--------------------------- Field Phone --------------------------->

        <div class="sign-up-form-input">
            <label for="">Número de celular</label>
            <input type="number" placeholder="Escriba el número" formControlName="phoneNumber"
                [ngClass]="{'danger': form['phoneNumber'].errors && signUpSubmmitted}"
            >
            <small class="error"
                *ngIf="form['name'].errors && signUpSubmmitted"
            >
                <ng-container [ngSwitch]="form['phoneNumber'].value">
                    <ng-container *ngSwitchCase="''">El campo phoneNumber es requerido!</ng-container>
                    <ng-container *ngSwitchDefault>El contacto debe iniciar con el número 3</ng-container>
                </ng-container>
                <ng-container >
                    <img src="../../../../../assets/icons//Grupo 18568.svg" alt="Error en el campo" >
                </ng-container>
            </small>
        </div>

        <div class="sign-up-form-submit">
            <button type="submit" (click)="authenticate()">Crear</button>
        </div>

    </form>
    
</div>
